.navbar {
  box-shadow: 0 4px 0 4px, rgba(0, 0, 0, 0.25);
  height: 6.5em;
  display: flex;
  top: 0;
  width: 100%;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  z-index: 20;
  align-items: center;
}
.main_navbar {
  box-shadow: 0 4px 0 4px, rgba(0, 0, 0, 0.25);
  height: 6.5em;
  display: flex;
  top: 0;
  width: 100%;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
  align-items: center;
}

.main_navbar a {
  color: black;
}
.main_navbar .logo {
  filter: invert(100%);
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
.nav-active {
  position: sticky;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 999 !important;
}

.fa-bars {
  visibility: hidden;
}
.faStar:hover {
  color: #b09639;
  cursor: pointer;
}

.logo {
  height: 10em;
  margin-left: 20%;
  margin-top: 0.5em;
}
a.nav-item {
  padding: 2em;
  margin-left: 1em;
}
nav a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
nav a:hover {
  color: #b09639;
}
nav a.active {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: #b09639;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.menu-logo {
  visibility: hidden;
  height: 0;
  width: 0;
}

@media screen and (max-width: 950px) {
  nav a.active {
    color: #b09639;
    width: 100%;
    margin-top: 35%;
  }
  .icons-container {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: auto;
    justify-items: center;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    z-index: 998 !important;
    position: absolute;
    width: 100%;
    top: 2px;
    background-color: black;
    transform: translateY(-300px);
    transition: transform 1s ease-in-out, visibility 1s;
    visibility: hidden;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .mobile-menu {
    width: auto;
  }

  .logo {
    height: 8em;
  }

  .fa-bars {
    color: #b09639;
    z-index: 999;
    visibility: visible;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* .menu-logo {
    height: 9em;
    width: 9em;
  }*/

  .mobile-menu,
  .menu-logo {
    visibility: visible;
    transform: translateY(0px);
    transition: transform 1s ease-in-out, visibility 1s;
  }
}
