.property-link {
  text-decoration: none;
  list-style: none;
  color: black;
  margin: 0.5em;
  width: 400px;
}
.card-container {
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0 0 5 / 15%);
  overflow: hidden;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  left: 0;
  right: 0;
  top: 0;
}
.card-top {
  width: auto;
}
.card-container img {
  position: relative;
  height: 230px;
  width: 100%;
  transition: transform 0.2s;
}
.card-container img:hover {
  overflow: hidden;
  transform: scale(1.1);
}

.tags {
  position: absolute;
  z-index: 998;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
}
.tag-type {
  border: 4px;
  background-color: var(--heading-color);
  color: #fff;
  border-radius: 12px;
  text-align: center;
  width: fit-content;
  padding: 4px 10px;
  font-size: 12px;
  margin: 3px;
}

.tag-location {
  font-size: 10px;
  z-index: 998;
  font-size: 12px;
  background-color: #b09639;
  padding: 4px;
  margin: 3px;
  border-radius: 12px;
  color: antiquewhite;
}

.card-content {
  display: flex;
  justify-content: space-between;
}
.card-adress {
  font-weight: 500;
  margin: 6px;
}
.card-price {
  border: 1px solid #b09639;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  margin-right: 8px;
}

.card-footer {
  border-bottom: 1px solid #b09639;
}
.footer-items {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}
.list-item span {
  font-size: 14px;
  padding: 4px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10em;
  margin-right: 15em;
  padding: 4em;
}
